@use 'reset';
@use 'fonts';
@use 'loader';

@use 'globals' as *;

html {
    @extend %root-window;

    body {
        @extend %root-window;

        #root {
            @extend %root-window;

            #wrapper {
                @extend %root-window;
            }
        }
    }
}

main#display {
    @extend %default-center;
}

article {
    @extend %default-center;

    #content {
        @extend %default-center;

        flex-direction: column;

        z-index: 3;

        #banner {
            width: 30rem;
            height: 30rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h1 {
            font-size: 3rem;
            font-style: italic;
            letter-spacing: 0.1ch;
        }

        h2 {
            font-size: 1.5rem;
            font-style: italic;
            font-weight: 200;
            letter-spacing: 0.2ch;
        }

        img {
            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            animation: svg-zoom 6s infinite;
        }

        @keyframes svg-zoom {
            0% {
                opacity: 0.8;
                transform: scale(0.9);
            }

            50% {
                opacity: 1;
                transform: scale(1.1);
            }

            100% {
                opacity: 0.8;
                transform: scale(0.9);
            }
        }
    }

    #starfield,
    .star {
        @extend %default-center;

        overflow: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .star {
        background-image: radial-gradient(1px 1px at 20px 30px, #fff, rgba(0, 0, 0, 0)),
            radial-gradient(1px 1px at 40px 70px, #fff, rgba(0, 0, 0, 0)),
            radial-gradient(1px 1px at 50px 160px, #fff, rgba(0, 0, 0, 0)),
            radial-gradient(1px 1px at 90px 40px, #fff, rgba(0, 0, 0, 0)),
            radial-gradient(1px 1px at 130px 80px, #fff, rgba(0, 0, 0, 0)),
            radial-gradient(1px 1px at 160px 120px, #fff, rgba(0, 0, 0, 0));

        background-repeat: repeat;
        background-size: 200px 200px;
        animation: zoom 5s infinite;
        opacity: 0;
    }

    .star:nth-child(1) {
        background-position: 50% 50%;
        animation-delay: 0s;
    }
    .star:nth-child(2) {
        background-position: 20% 60%;
        animation-delay: 1s;
    }
    .star:nth-child(3) {
        background-position: -20% -30%;
        animation-delay: 2s;
    }
    .star:nth-child(4) {
        background-position: 40% -80%;
        animation-delay: 3s;
    }
    .star:nth-child(5) {
        background-position: -20% 30%;
        animation-delay: 4s;
    }

    @keyframes zoom {
        0% {
            opacity: 0;
            transform: scale(0.5);
            animation-timing-function: ease-in;
        }
        85% {
            opacity: 1;
            transform: scale(2.8);
            animation-timing-function: linear;
        }
        100% {
            opacity: 0;
            transform: scale(3.5);
        }
    }
}
